<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Авторизация</h1>

    <input id="login" type="text" placeholder="Почта/Логин">
    <input id="password" type="password" placeholder="Пароль">

    <button onclick="submitForm()">Войти</button>
    <button onclick="window.location.href='/register'">Нет аккаунта? Регистрация</button>

    <p id="result"></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>